@model List<CardLinkEmulator.DAL.Entities.Payment>  
@{
    Layout = null;
    ViewBag.Title = "Background Confiramation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sample</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Content/cardlink-eurobank/js/fancyTable.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Emulator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">@Html.ActionLink("Background Confirmation", "About", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="jumbotron">
        <h2>Backgrount Confirmation</h2>
        <p class="lead">Πίνακας με τις πληρωμές που έχουν καταγραφεί στον Εξωμοιωτή</p>
        <p class="lead">Κάντε κλικ στο Action <strong>Backgrount Confirmation</strong> για να εξομοιώσεται την αντίστοιχη διαδικασία</p>
    </div>
</div>

    <div class="container">
        <h3>Πίνακας πληρωμών</h3>
        <table id="sampleTableB" class="table table-striped sampleTable">
            <thead>
                <tr>
                    <th>Mid</th>
                    <th>Order Id</th>
                    <th>Payer Email</th>
                    <th>Date Inserted</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@(p.mid)</td>
                        <td>@(p.orderid)</td>
                        <td>@(p.payerEmail)</td>
                        <td>@(p.DateInserted.ToString("d"))</td>
                        <td>@(p.status)</td>
                        <td><a href="@Url.Action("BackCofirmation", "Home", new {paymentId = p.Id}, null)">Backgrount Confirmation</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


    <script type="text/javascript">
        // Word genarator
        function rWord(r) {
            var t,
                n = "bcdfghjklmnpqrstvwxyz",
                a = "aeiou",
                e = function (r) {
                    return Math.floor(Math.random() * r)
                },
                o = "";
            r = parseInt(r, 10),
                n = n.split(""),
                a = a.split("");

            for (t = 0; t < r / 2; t++) {
                var l = n[e(n.length)],
                    p = a[e(a.length)];
                o += 0 === t
                    ? l.toUpperCase()
                    : l, o += 2 * t < r - 1 ? p : ""
            }
            return o
        }

        $(document).ready(function () {
            // And a simple one
            /*
            for(var n=0;n<10;n++){
                var row = $("<tr>");

                for(var nn=0;nn<5;nn++){
                    $("<td>",{
                        html: rWord(8),
                        style:"padding:2px;"
                    }).appendTo($(row));
                }
                $(row).find("td:last").first().html(   moment(new Date(Math.floor(new Date().getTime()*Math.random()))).format('l')   );
                row.appendTo($("#sampleTableB"));
            }
            */


            // And make them fancy

            $("#sampleTableB").fancyTable({
                pagination: true,
                perPage: 20
            });
        });
    </script>
</body>
</html>

